/* start variabales */
:root {
  --primary-color: #10cab7;
  --secondary-color: #2c4755;
  --text-color: #777;
  --padding-top-button: 60px;
  --line-height: 1.6;
}
/* end variabales */

/* start rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start framwork */

i {
  color: var(--primary-color);
}
/* end framwork */

/* end rules  */
/* start conponents */

.spcial-heading {
  text-align: center;
  margin: 0;
  color: #ebeced;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
}
.spcial-heading + p {
  text-align: center;
  margin: -30px 0 0;
  color: var(--text-color);
  font-size: 20px;
}
@media (max-width: 768px) {
  .spcial-heading {
    font-size: 60px;
  }
  .spcial-heading + p {
    margin-top: -20px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.padding {
  padding-top: var(--padding-top-button);
  padding-bottom: var(--padding-top-button);
}
/* End conponents */
/* start header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo img {
  width: 60px;
}
.header .link {
  position: relative;
  z-index: 1;
}
.header .link .icon {
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  justify-content: flex-end;
}
.header .link .icon span {
  height: 3px;
  background-color: black;
  margin-bottom: 5px;
  width: 100%;
}
.header .link .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}

.header .link:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .link ul {
  list-style: none;
  color: #444;
  min-width: 200px;
  text-align: start;
  background-color: #f6f6f6;
  opacity: 0.9;
  position: absolute;
  top: calc(100% + 20px);
  right: 0px;
  margin: 0;
  padding: 5px 0;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.header .link:hover ul {
  display: block;
}
.header .link ul::before {
  content: "";
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 0px;
  top: -39px;
}
.header .link ul li {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .link ul li:not(:last-child) {
  border-bottom: 2px solid #999;
}
.header .link ul li a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  transition: 0.3s;
  padding: 15px;
  display: block;
}
.header .link ul li a:hover {
  padding-left: 40px;
}
/* end header */
/* start landing */
.landing {
  background-image: url("../image/view-3d-laptop-device-with-screen-keyboard.jpg");
  background-size: cover;
  height: calc(100vh - 68px);
}
.landing .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 320px;
  max-width: 100%;
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.landing .intro h1 {
  margin: 0;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 50px;
}
.landing .intro p {
  margin: 0;
  padding: 0;
  font-size: 19px;
  line-height: 1.8;
  color: #fff;
}
/* end landing */
/* start features */
.features {
  background-color: #f6f6f6;
}

.features .feat {
  padding: 20px;
  text-align: center;
}

.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: var(--line-height);
  color: var(--text-color);
  font-size: 13px;
}
/* end features */
/* start services */

.services .container {
  margin-top: 60px;
  text-align: center;
}
.services .container .col .serv {
  display: flex;
  margin: 0 30px 30px 0;
}
@media (max-width: 767px) {
  .services .container .col .serv {
    flex-direction: column;
    text-align: center;
  }
}
.services .container .col .serv i {
  flex-basis: 60px;
}
.services .container .col .serv .text {
  flex: 1;
}
.services .container .col .serv .text h3 {
  margin: 0 0 20px;
}
.services .container .col .serv .text p {
  line-height: var(--line-height);
  color: var(--text-color);
  font-weight: 300;
  font-size: 13px;
}
.services .container .col .image {
  text-align: center;
  position: relative;
}
.services .container .col .image::before {
  content: "";
  position: absolute;
  top: -25px;
  right: 0;
  width: 100px;
  height: calc(100% + 50px);
  background-color: var(--secondary-color);
  z-index: -1;
}
@media (max-width: 1199px) {
  .services .container .col .image {
    display: none;
  }
}
.services .container .col .image img {
  width: 260px;
}
/* end services */
/* start portfolio */
.portfolio {
  background-color: #f6f6f6;
}
.portfolio .container {
  margin-top: 60px;
}
.portfolio .container .col {
  background-color: #fff;
  text-align: center;
}
.portfolio .container .col img {
  width: 100%;
  height: 200px;
}
.portfolio .container .col .text {
  padding: 20px;
}
.portfolio .container .col .text h3 {
  margin: 0;
}
.portfolio .container .col .text p {
  color: #777;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}
/* end portfolio */
/* start about */

.About .container {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 996px) {
  .About .container {
    flex-direction: column;
    text-align: center;
  }
}
.About .container .image {
  position: relative;
}

.About .container .image::before {
  content: "";
  background-color: #ebeced;
  position: absolute;
  top: -25px;
  left: -20px;
  height: calc(100% + 50px);
  width: 80px;
  z-index: -1;
}
.About .container .image::after {
  content: "";
  position: absolute;
  top: -40px;
  right: -120px;
  border-bottom: 65px solid var(--primary-color);
  border-left: 65px solid var(--primary-color);
  height: 200px;
  width: 100px;
  z-index: -1;
}
@media (max-width: 996px) {
  .About .container .image::before,
  .About .container .image::after {
    display: none;
  }
}
.About .container .image img {
  max-width: 100%;
  height: 300px;
}
@media (max-width: 996px) {
  .About .container .image img {
    margin: 0 auto;
  }
}
.About .container .about-me {
  flex-basis: calc(100% - 500px);
}
.About .container .about-me p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.About .container .about-me hr {
  width: 50%;
  display: inline-block;
  border-color: var(--primary-color);
}
.About .container .about-me p:last-of-type {
  line-height: 2;
  color: var(--text-color);
}

/* end about */
/* start contact */
.contact {
  background-color: #f6f6f6;
}
.contact .info {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.contact .info .label {
  font-size: 30px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 800;
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 18px;
}
.contact .info .social i {
  margin-left: 5px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* end contact */
/* start footer */
.footer {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: #10cab7;
}
/* end footer */
